/*This is custom stylesheet specifically for developer-autodesk.github.io*/
.app-api-section {
    margin-bottom: 30px;
}
.center {
    text-align: center;
}
#dropAreaContainer {
    margin-left:auto;
    margin-right:auto;
}
.lmv-motion-buttons {
	position: relative;
	top: -50px;
	z-index: 1;
}
.lmv-motion {
	height: 400px;	
}