@import './font-awesome-4.7.0/css/font-awesome.min.css';
@font-face {
  font-family: 'Artifakt Element';
  src:  url('./fonts/element/EOT/Artifakt_Element_Regular.eot') format('eot'),
        url('./fonts/element/TTF/Artifakt_Element_Regular.ttf') format('ttf'),
        url('./fonts/element/WOFF/Artifakt_Element_Regular.woff') format('woff'),
        url('./fonts/element/WOFF2/Artifakt_Element_Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Artifakt Legend';
  src:  url('./fonts/legend/EOT/Artifakt_Legend_Regular.eot') format('eot'),
        url('./fonts/legend/TTF/Artifakt_Legend_Regular.ttf') format('ttf'),
        url('./fonts/legend/WOFF/Artifakt_Legend_Regular.woff') format('woff'),
        url('./fonts/legend/WOFF2/Artifakt_Legend_Regular.woff2') format('woff2');
}
body {
    font-family: "Artifakt Element", fallback, sans-serif;
}
a {
  text-decoration: none;
  color: #404040;
}
a:hover {
    color: #EE8822;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}
li {
    float: left;
}
li a {
    display: block;
    color: #404040;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #D17920;
    color: white;
}